.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

@media screen and (max-width: 768px) and (min-width: 420px){
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #lezioni h1{
    padding-top: 1em;
  }
  #lezioni .row{
    background-color: lightgray;
    
  }
  #lezioni .left{
    margin: 1em 0;
  }
  #lezioni .right{
    margin: 1em 0;
  }
  .left img{
    float: left;
  }
  .right img{
    float: left;
  }
}

@media screen and (max-width: 419px){
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #lezioni h1{
    padding-top: 1em;
  }
  #lezioni .row{
    background-color: #8ac5f9;
  }
  .row>.left,
  .row>.right{
    margin-bottom: 1em;
  }
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

@media screen and (max-width: 768px) and (min-width: 420px){
  #steps .row{
    background-color: rgb(165, 235, 247);
  }

  #steps h1{
    padding-top: 1em;
  }
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    margin: 2em 0;
    width: 100%;
  }
  #steps img{
    float: right;
  }
}

@media screen and (max-width: 419px){
  #steps .row{
    background-color: lightgray;
  }

  #steps h1{
    padding-top: 1em;
  }
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    margin: 2em 0;
    width: 100%;
  }
}
/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

@media screen and (max-width: 768px) and (min-width: 420px){
  #why .row{
    background-color: lightgray;
  }

  #why h1{
    padding-top: 1em;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }   
  #why img{
    width: 20%;
    margin: 0 auto;
  }

}

@media screen and (max-width: 419px){
  #why{
    width: 100%;
  }
  #why h1{
    padding-top: 1em;
  }
  #why .row{
    background-color: #8ac5f9;
  }
  #why img{
    float:right;
  }
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}
